body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:656px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7551 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-63px;
  width:1014px;
  height:656px;
  display:flex;
}
#u7551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:22px;
  background:inherit;
  background-color:rgba(16, 163, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7553 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-46px;
  width:6px;
  height:22px;
  display:flex;
}
#u7553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u7554 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-37px;
  width:6px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7555 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-45px;
  width:64px;
  height:21px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u7556 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:-44px;
  width:19px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#CCCCCC;
}
#u7556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7556_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#CCCCCC;
}
#u7556.mouseOver {
}
#u7556_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7557 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:19px;
  width:639px;
  height:280px;
}
#u7558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  display:flex;
  color:#000000;
}
#u7558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7559 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:220px;
  height:40px;
  display:flex;
}
#u7559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7560 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:0px;
  width:99px;
  height:40px;
  display:flex;
  color:#000000;
}
#u7560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7561 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:221px;
  height:40px;
  display:flex;
}
#u7561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:99px;
  height:40px;
  display:flex;
}
#u7562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7563 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:40px;
  width:220px;
  height:40px;
  display:flex;
}
#u7563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7564 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:40px;
  width:99px;
  height:40px;
  display:flex;
}
#u7564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7565 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:40px;
  width:221px;
  height:40px;
  display:flex;
}
#u7565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:99px;
  height:40px;
  display:flex;
}
#u7566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7567 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:80px;
  width:220px;
  height:40px;
  display:flex;
}
#u7567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7568 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:80px;
  width:99px;
  height:40px;
  display:flex;
}
#u7568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7569 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:80px;
  width:221px;
  height:40px;
  display:flex;
}
#u7569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:99px;
  height:40px;
  display:flex;
}
#u7570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7571 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:120px;
  width:220px;
  height:40px;
  display:flex;
}
#u7571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7572 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:120px;
  width:99px;
  height:40px;
  display:flex;
}
#u7572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7573 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:120px;
  width:221px;
  height:40px;
  display:flex;
}
#u7573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:99px;
  height:40px;
  display:flex;
}
#u7574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7575 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:160px;
  width:220px;
  height:40px;
  display:flex;
}
#u7575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7576 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:160px;
  width:99px;
  height:40px;
  display:flex;
}
#u7576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7577 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:160px;
  width:221px;
  height:40px;
  display:flex;
}
#u7577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:99px;
  height:40px;
  display:flex;
}
#u7578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7579 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:200px;
  width:220px;
  height:40px;
  display:flex;
}
#u7579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7580 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:200px;
  width:99px;
  height:40px;
  display:flex;
}
#u7580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7581 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:200px;
  width:221px;
  height:40px;
  display:flex;
}
#u7581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:99px;
  height:40px;
  display:flex;
}
#u7582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7583 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:240px;
  width:220px;
  height:40px;
  display:flex;
}
#u7583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
#u7584 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:240px;
  width:99px;
  height:40px;
  display:flex;
}
#u7584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:40px;
}
#u7585 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:240px;
  width:221px;
  height:40px;
  display:flex;
}
#u7585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:532px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7586 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:10px;
  width:201px;
  height:532px;
  display:flex;
}
#u7586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7587 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:2px;
  width:36px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7588 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:59px;
  width:127px;
  height:35px;
  display:flex;
}
#u7588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7589 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:251px;
  width:127px;
  height:35px;
  display:flex;
}
#u7589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7590 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:296px;
  width:127px;
  height:35px;
  display:flex;
}
#u7590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7591 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:341px;
  width:127px;
  height:35px;
  display:flex;
}
#u7591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7592 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:386px;
  width:127px;
  height:35px;
  display:flex;
}
#u7592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7593 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:431px;
  width:127px;
  height:35px;
  display:flex;
}
#u7593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7594 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:200px;
  width:127px;
  height:35px;
  display:flex;
}
#u7594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u7595 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:-57px;
  width:19px;
  height:32px;
  display:flex;
  font-size:28px;
  color:#FF0000;
}
#u7595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7595_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u7595.mouseOver {
}
#u7595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7596 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:476px;
  width:127px;
  height:35px;
  display:flex;
}
#u7596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7597 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:110px;
  width:127px;
  height:35px;
  display:flex;
}
#u7597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7598 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:155px;
  width:127px;
  height:35px;
  display:flex;
}
#u7598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
