body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1084px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:1415px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:1073px;
  height:1415px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:44px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:8px;
  width:1073px;
  height:44px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1266px;
  width:1073px;
  height:156px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:122px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1282px;
  width:210px;
  height:122px;
  display:flex;
  font-size:20px;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:122px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1283px;
  width:210px;
  height:122px;
  display:flex;
  font-size:20px;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:122px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:1283px;
  width:210px;
  height:122px;
  display:flex;
  font-size:20px;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:162px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:438px;
  width:1039px;
  height:162px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:102px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:664px;
  width:254px;
  height:102px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:54px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:689px;
  width:106px;
  height:54px;
  display:flex;
  font-size:20px;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  height:2px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:967px;
  width:1073px;
  height:1px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:334px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:62px;
  width:1039px;
  height:334px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:185px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:115px;
  width:689px;
  height:185px;
  display:flex;
  font-size:36px;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:188px;
  width:43px;
  height:40px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:530px;
  width:231px;
  height:38px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:462px;
  width:576px;
  height:42px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#1E1E1E;
}
#u575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:703px;
  width:87px;
  height:25px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:102px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:664px;
  width:254px;
  height:102px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:54px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:688px;
  width:106px;
  height:54px;
  display:flex;
  font-size:20px;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:703px;
  width:86px;
  height:24px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:935px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1009px;
  width:37px;
  height:38px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:1009px;
  width:37px;
  height:38px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:1009px;
  width:37px;
  height:38px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1009px;
  width:37px;
  height:38px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:1028px;
  width:0px;
  height:0px;
}
#u585_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:239px;
  height:10px;
}
#u585_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-10px;
  width:20px;
  height:20px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1028px;
  width:0px;
  height:0px;
}
#u586_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:240px;
  height:10px;
}
#u586_seg1 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:-10px;
  width:20px;
  height:20px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1028px;
  width:0px;
  height:0px;
}
#u587_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:239px;
  height:10px;
}
#u587_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-10px;
  width:20px;
  height:20px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1057px;
  width:151px;
  height:170px;
  display:flex;
}
#u588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:1057px;
  width:151px;
  height:170px;
  display:flex;
}
#u589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1057px;
  width:151px;
  height:170px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:1057px;
  width:151px;
  height:170px;
  display:flex;
}
#u591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:1092px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1092px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:1084px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1084px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1063px;
  width:36px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:1414px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.317647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:8px;
  width:1073px;
  height:1414px;
  display:flex;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:464px;
  width:300px;
  height:170px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#0000FF;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:578px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-decoration:underline ;
  color:#0000FF;
}
#u599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
